<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>626350561336-uq8kocfse24tsra78saaej76ufapcgtb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.626350561336-uq8kocfse24tsra78saaej76ufapcgtb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>626350561336-geekqleh60ef01tbmjqh4qv4les4vn0s.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCAFeH4qFUyy0x4DOYA52PzRJSrtWTzaow</string>
	<key>GCM_SENDER_ID</key>
	<string>626350561336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.kalmselor.ios</string>
	<key>PROJECT_ID</key>
	<string>kalm-counselor-202007</string>
	<key>STORAGE_BUCKET</key>
	<string>kalm-counselor-202007.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:626350561336:ios:707e2e31278d3dfe6f6ecd</string>
	<key>DATABASE_URL</key>
	<string>https://kalm-counselor-202007.firebaseio.com</string>
</dict>
</plist>