<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>134928977447-ie9lo25ggikbj6toqmllb3dtb2lkjtf5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.134928977447-ie9lo25ggikbj6toqmllb3dtb2lkjtf5</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>134928977447-28t99p00vdbp2as1dhj3nl30dg7ojrtn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAaPpgNbcfWnXMkUJGzwpl-lD_nlBCNPi4</string>
	<key>GCM_SENDER_ID</key>
	<string>134928977447</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>id.kalmselor.ios</string>
	<key>PROJECT_ID</key>
	<string>kalm-6da40</string>
	<key>STORAGE_BUCKET</key>
	<string>kalm-6da40.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:134928977447:ios:be26e6c5cb9ce855</string>
	<key>DATABASE_URL</key>
	<string>https://kalm-6da40.firebaseio.com</string>
</dict>
</plist>